* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500&display=swap");

body {
  background: linear-gradient(222deg, #529ff9, #132942);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
}

.nav-left {
  width: 20vw;
  display: flex;
}

.logo {
  display: flex;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 55%;
  border-radius: 30px;
}

.title {
  display: flex;
  flex: 2;
  height: 100%;
  justify-content: left;
  align-items: center;
  font-family: Comfortaa;
  color: white;
  font-weight: 200;
  font-size: 1.5vw;
  padding-left: 2%;
}

.nav-right {
  width: 35vw;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}

.social {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social i {
  color: white;
  font-size: 2vw;
}

.social i:hover {
  cursor: pointer;
  color: rgb(238, 238, 107);
}

main {
  width: 100%;
  height: 90vh;
  display: flex;
}

.main-left {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.menu {
  flex: 1;
  background-color: rgba(76, 74, 88, 0.884);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  overflow: hidden;
}

.menu-item {
  display: flex;
  flex: 1;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Livvic;
  cursor: pointer;
  font-size: 1.4vw;
}

.twitch-item {
  display: flex;
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.twitch-logo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitch-logo img {
  width: 45%;
  padding-left: 25%;
}

.twitch-live {
  flex: 1;
}

.twitch-live i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}

.no-active {
  background-color: rgba(0, 0, 0, 0.075);
}

.stream-logo {
  width: 35%;
}

.live {
  padding-left: 10%;
}

.stream-off {
  color: rgb(255, 115, 115);
}

.stream-on {
  color: rgb(115, 255, 127);
}

.twitch {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
}

.box {
  flex: 7;
  background-color: rgba(76, 74, 88, 0.884);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-stream {
  flex: 7;
  background-color: rgba(76, 74, 88, 0.884);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stream-box {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.title-box-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title-box-bottom {
  flex: 1.5;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.space {
  flex: 0.5;
}

.stream-title {
  flex: 4;
  display: flex;
  flex-direction: row;
}

.title-icon {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}

.title-text {
  flex: 7;
  color: white;
  font-family: "Sigmar One", cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1vw;
}

.stream-views {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.views-icon {
  flex: 2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}

.views-number {
  flex: 3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-family: "Sigmar One", cursive;
}

.game-icon {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}

.game-name {
  flex: 7;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2vw;
  font-family: "Sigmar One", cursive;
}

#player {
  width: 28vw;
  height: calc(28vw * 1080 / 1920);
  border: solid 3px #529ff9;
}

#ytplayer {
  width: 28vw;
  height: calc(28vw * 1080 / 1920);
}

.video-box {
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.video-describ {
  display: flex;
  width: 80%;
  height: 13vh;
}

.left-describ {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right-describ {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.video-title {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2vw;
  font-family: "Sigmar One", cursive;
  flex: 1;
}

.video-views {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2vw;
  font-family: "Sigmar One", cursive;
  flex: 1;
}

.video-views span {
  padding-left: 8%;
}

.video-reaction {
  width: 70%;
  height: 60%;
  color: white;
  display: flex;
  font-size: 1.2vw;
  font-family: "Sigmar One", cursive;
}

.like {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #00FF00;
}

.dislike {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #DC143C;
}

.social-dot {
  display: none;
}

.photo {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 11vw;
  border-radius: 30vw;
}

.omnie {
  flex: 1;
  width: 80%;
  text-align: justify;
  font-family: Livvic;
  color: white;
  font-size: 1.25vw;
  line-height: 4vh;
}

.succes {
  width: 80%;
  text-align: justify;
  font-family: Livvic;
  color: white;
  font-size: 1.2vw;
  line-height: 4vh;
}

/* Mobile */

@media only screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: 15vh;
    display: flex;
  }

  .nav-left {
    width: 100%;
    display: flex;
  }

  .logo {
    display: flex;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 55%;
    border-radius: 30px;
  }

  .title {
    display: flex;
    flex: 3;
    height: 100%;
    justify-content: left;
    align-items: center;
    font-family: Comfortaa;
    color: white;
    font-weight: 200;
    font-size: 6vw;
    padding-left: 2%;
  }

  .nav-right {
    display: none;
  }

  main {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .main-left {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .main-right {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }

  .box-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu {
    flex: 1;
    background-color: rgba(76, 74, 88, 0.884);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    overflow: hidden;
  }

  .menu-item {
    display: flex;
    flex: 1;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    cursor: pointer;
    font-size: 5vw;
  }

  .twitch-item {
    display: flex;
    flex: 1;
    height: 100%;
    cursor: pointer;
  }

  .twitch-logo {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twitch-logo img {
    width: 70%;
    padding-left: 15%;
  }

  .twitch-live {
    flex: 1;
  }

  .twitch-live i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

  .stream-logo {
    width: 55%;
  }

  #player {
    width: 80vw;
    height: calc(80vw * 1080 / 1920);
    border: solid 3px #529ff9;
  }

  #ytplayer {
    width: 80vw;
    height: calc(80vw * 1080 / 1920);
  }

  .title-box {
    flex: 1.5;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title-box-top {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .title-box-bottom {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .space {
    flex: 0;
  }

  .stream-title {
    flex: 2;
    display: flex;
    flex-direction: row;
  }

  .title-icon {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

  .title-text {
    flex: 4;
    color: white;
    font-family: "Sigmar One", cursive;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4vw;
  }

  .stream-views {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .views-icon {
    flex: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

  .views-number {
    flex: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-family: "Sigmar One", cursive;
  }

  .game-icon {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

  .game-name {
    flex: 4;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4vw;
    font-family: "Sigmar One", cursive;
  }

  .video-box {
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .video-describ {
    display: flex;
    width: 89%;
    height: 15vh;
  }
  
  .left-describ {
    display: flex;
    flex: 1.5;
    flex-direction: column;
  }
  
  .right-describ {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }
  
  .video-title {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1rem;
    font-family: "Sigmar One", cursive;
    flex: 1;
  }
  
  .video-views {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: "Sigmar One", cursive;
    flex: 1;
  }
  
  .video-views span {
    padding-left: 8%;
  }
  
  .video-reaction {
    flex: 1;
    padding-top: 1.5vh;
    color: white;
    display: flex;
    font-size: 1rem;
    font-family: "Sigmar One", cursive;
  }
  
  .like {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #00FF00;
  }
  
  .dislike {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #DC143C;
  }

  .trigger-dot {
    top: 3vh;
    animation: none;
    display: flex !important;
  }

  .social-dot {
    width: 9vh;
    height: 9vh;
    background-color: #1d3e63;
    border-radius: 30vh;
    position: absolute;
    z-index: 100;
    right: 3vh;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.5s ease-in-out;
  }

  .social-dot i {
    font-size: 30px;
    color: white;
  }

  .photo {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo img {
    width: 30vw;
    border-radius: 30vw;
  }

  .omnie {
    flex: 1.5;
    width: 85%;
    text-align: justify;
    font-family: Livvic;
    color: white;
    font-size: 5vw;
    line-height: 4vh;
  }

  .succes {
    width: 85%;
    text-align: justify;
    font-family: Livvic;
    color: white;
    font-size: 4.2vw;
    line-height: 3vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
